---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";
import { GreenBinPickupDates, ParticipantsPerStreet, SchedulePerStreet, year } from "@utils/green-bin-schedule-builder";
import { formatCompactDate, formatWeekdayShort } from "@utils/date-builders";
---

<Layout title="">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Green Bin Schedule</Fragment>
      <Fragment slot="desc">Schedule for {year}</Fragment>
    </Sectionhead>

    <div class="my-8 print:hidden">
      <ol class="list-inside space-y-4 text-gray-700 print:space-y-1">
        <li>
          <strong>Pickup Schedule:</strong>
          Green bin collection occurs every <strong>Tuesday</strong>, unless preceded by a holiday Monday. In such
          cases, collection is shifted to <strong>Wednesday</strong>.
        </li>
        <li>
          <strong>Placement Time:</strong>
          Place the green bin curbside by <strong>7:30 AM</strong> on the pickup day. Collection typically happens around
          <strong>8:00 AM</strong>.<br />
          <span class="italic">Important: Do not place the bin out the night before to avoid attracting wildlife.</span>
        </li>
        <li>
          <strong>Removal Time:</strong>
          Ensure the bin is brought back in by <strong>7:00 PM</strong> on the same day.
        </li>
        <li>
          <strong>Coverage for Absences:</strong>
          If you're unavailable on your designated date, arrange a swap with a neighbour to ensure timely placement and removal.
        </li>
        <li>
          <strong>Monthly Bin Cleaning:</strong>
          On the <strong>first pickup of each month</strong>, leave the green bin curbside for the entire day. A
          cleaning service will wash the bin.<br />
          These dates are marked with <strong>“WASH”</strong> on the calendar.
        </li>
      </ol>
    </div>
    <hr class="my-5 print:hidden" />
    <div class="py-6 print:py-0">
      {
        Object.entries(SchedulePerStreet).map(([streetName]) => {
          const seenMonths = new Set();
          return (
            <div>
              <div class="prose">
                <h3 class="text-3xl">{streetName} Place</h3>
              </div>
              <div
                class:list={[
                  "my-4",
                  "grid",
                  "gap-1",
                  "lg:gap-3",
                  "grid-cols-[100px_100px_100px_100px_100px_100px_100px]",
                  "lg:grid-cols-7",
                  "overflow-x-auto",
                  "lg:w-auto",
                  "w-screen",
                  "lg:ml-0",
                  "-ml-3",
                ]}
              >
                {ParticipantsPerStreet[streetName].map((houseNumber) => {
                  return (
                    <div class="py-1 text-center bg-slate-500 text-slate-50">
                      <strong class="text-2xl slashed-zero lining-nums">{houseNumber}</strong>
                    </div>
                  );
                })}
                {GreenBinPickupDates.map((date) => {
                  //hackily offsets the date to PST timezone
                  const d = new Date(`${date}T00:00:00-08:00`);
                  const isWashDay = !seenMonths.has(d.getMonth());
                  seenMonths.add(d.getMonth());

                  const weekDay = formatWeekdayShort(d);
                  return (
                    <div
                      class:list={[
                        "border",
                        "py-3",
                        "text-center",
                        "shadow-sm",
                        "lg:shadow-md",
                        isWashDay && "bg-slate-100",
                      ]}
                    >
                      <div class="font-extralight text-sm">{weekDay}</div>
                      <div class="font-normal">{formatCompactDate(d)}</div>
                      <div class="font-bold  text-sm" set:html={isWashDay ? "WASH" : "&nbsp;"} />
                    </div>
                  );
                })}
              </div>
            </div>
          );
        })
      }
    </div>
    <div class="print:hidden">
      <p class="text-slate-500 mt-2 leading-relaxed">Thank you for your cooperation!</p>
    </div>
  </Container>
</Layout>
