---
import Container from "@components/container.astro";
import heroImage from "assets/logo.svg";
import { Astronav, MenuIcon, MenuItems } from "astro-navbar";
import { Image } from "astro:assets";

const menuitems = [
  {
    title: "Bylaws & Rules",
    path: `${import.meta.env.BASE_URL}/bylaws-and-rules`,
  },
  {
    title: "Roles and Responsibilities",
    path: `${import.meta.env.BASE_URL}/roles-and-responsibilities`,
  },
  {
    title: "Meetings & Reports",
    path: `${import.meta.env.BASE_URL}/meetings-reports`,
  },
  {
    title: "Forms & Links",
    path: `${import.meta.env.BASE_URL}/forms-links`,
  },
  {
    title: "Contact",
    path: `${import.meta.env.BASE_URL}/contact`,
  },
];
---

<div
  class="sticky top-0 z-40 w-full backdrop-blur flex-none transition-colors duration-500 lg:z-50 lg:border-b lg:border-slate-900/10 dark:border-slate-50/[0.06] bg-white/75 supports-backdrop-blur:bg-white/60 dark:bg-transparent"
>
  <Container>
    <header class="z-40 sticky py-5 top-0 flex flex-col lg:flex-row justify-between items-center">
      <Astronav>
        <div class="flex w-full lg:w-auto items-center justify-between">
          <a href={`${import.meta.env.BASE_URL}/`} class="text-lg tracking-tighter">
            <div class="flex flex-row gap-1 items-center">
              <Image src={heroImage} alt="" width="50" loading="eager" format="svg" />
              <div class="flex flex-col gap-px-1">
                <div>
                  <span class="font-bold text-slate-900">Mountain</span><span class="text-slate-800">Gate</span>
                </div>
                <span class="font-thin text-xs text-slate-400">Strata NW2040</span>
              </div>
            </div>
          </a>
          <div class="block lg:hidden pt-1 px-2 bg-slate-100/75 border-2 rounded-md">
            <MenuIcon class="w-4 h-4 text-gray-800" />
          </div>
        </div>
        <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
          <ul class="flex flex-col lg:flex-row lg:gap-3">
            {
              menuitems.map((item, index) => (
                <>
                  <li>
                    <a
                      href={item.path}
                      class={`flex lg:px-3 py-2 items-center hover:text-gray-800 hover:underline ${Astro.url.pathname === item.path && "text-gray-900	underline"} `}
                    >
                      <span>{item.title}</span>
                    </a>
                  </li>
                </>
              ))
            }
          </ul>
        </MenuItems>
      </Astronav>
    </header>
  </Container>
</div>
